{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="main">

        <!-- Sign out  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static "img/signin-image.jpg" %}" alt="sing up image"></figure>
                        <a href="/accounts/register/" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="login-form">
                            {% csrf_token %}
                            <div class="form-group form-button">
                                <input type="submit" name="signout" id="signin" class="form-submit" value="Log out"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock content %}