{% load static %}
{% block content %}
    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-image">
                        <h2 class="form-title">Sign up completed successfully</h2>
                        <figure><img src="{% static "img/signup-image.jpg" %}" alt="sing up image"></figure>
                        <p>Registration disallowed</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}